.manage_table{ border:1px solid #e4e4e4; width:900px; margin-left:2%; margin-top:30px; margin-bottom:30px;
}
.manage_table tr { background:#fff; color:#515d6d; width:100%;}
.manage_table tr th, .manage_table tr td { line-height:40px; text-align:center;  /*padding:5px; */vertical-align:text-top;}
.manage_table tr th {
	background:#1fbba6; color:#fff;
}
.manage_table tr td {
	background:#fff; color:#515d6d; border-top:1px solid #dedede; }
.manage_table tr.col2 td {
	background:#f4f4f4; color:#515d6d; border-top:1px solid #dedede;
}
.manage_table tr th.tdnum, .manage_table tr td.tdnum {
	width: 40px; vertical-align:middle; border-right:0px solid #dedede; line-height:20px; font-size:14px;
}
.manage_table tr th.cus, .manage_table tr td.cus {
	width: 90px;
}
.cusorderby {
    cursor: pointer;
}
.manage_table tr th.btn, .manage_table tr td.btn {
	width: 80px; vertical-align:middle; padding:0px;
}
.manage_table tr td.btn input{
	height:40px; width:80px; border:0px solid #fff; background:#7cd2ff; color:#fff; margin-right:5px;
}
.manage_table tr td.btn input:hover{
	text-decoration:underline;
}
.manage_table tr:hover td{ background:#f9aa33; color:#fff;}

/*
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
*/
.titlehead{width:900px; margin-left:2%; margin-top:0px; margin-bottom:30px;}
.titlehead_right{float:right; width:140px; height:auto; background:#1fbba6;}
.titlehead_right p{text-align:center; color:#fff; font-size:16px; line-height:30px;}
.titlehead_right p.num{text-align:right; font-size:30px; color:#fff; padding:7px 10px; margin:0; background:#f9aa33; line-height:30px;}

.titlehead_left {float:left; width:600px; height:150px; border:0px solid #999; position:relative;}
.titlehead_left div{width:50%; height:100px; color:#1fbba6; line-height:20px; text-align:center; font-size:18px; float:left;}
.titlehead_left div.seach_selected{ background:#1fbba6; color:#fff;}
.titlehead_left div input{ width:100px; margin:0px; padding:0px; border:2px solid #1fbba6;}
.titlehead_left div.or{ position:absolute; width:50px; height:50px; border:2px solid #fff; background:#1fbba6; color:#fff; top:0px; right:0px; bottom:0px; left:0px; margin:auto; margin-top:25px; text-align:center; line-height:50px;
-moz-border-radius: 26px;
-webkit-border-radius: 26px;
border-radius: 26px;
}
.titlehead_left div.inputtext{ position:absolute; color:#fff; top:0px; right:0px; bottom:0px; left:0px; margin:auto; text-align:center; line-height:50px; margin-top:100px; border-top:1px solid #fff;
	width:100%; height:40px; background:#1fbba6;
}
.titlehead_left div.inputtext input{
	width:596px; height:100%; line-height:100%; border:2px solid #1fbba6; text-align:center; color:#1fbba6; font-size:20px;
}
.searchbtn{
	float:left; width:140px; height:70px; line-height:70px; text-align:center; font-size:30px; color:#fff; margin-left:10px; margin-top:0px; background:#f9aa33;margin-bottom: 2px;cursor: pointer;
}
.searchbtn:hover{
	width:136px; height:68px; line-height:68px; text-decoration:underline; background:#ffbc54; border:2px solid #f9aa33;}
.orderby{
    background: none repeat scroll 0 0 #F9AA33;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 30px;
    height: 30px;
    line-height: 70px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-top: 0;
    text-align: center;
    width: 140px;
}